.choseQuiz-page {
  display: none;
  flex-direction: column;
  align-items: center;
  min-height: calc(90vh - 120px);
  margin-top: 1.5em;
}

.show {
  display: flex;
}

.quiz-info {
  font-size: 18px;
  opacity: 0.7;
  letter-spacing: 0.04em;
}

#quiz {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  margin-top: 2em;
}
h2 {
  font-size: 35px;
  align-self: center;
  font-weight: 100;
}
#quiz-btn {
  padding: 0.1em;
  width: 300px;
}
