.quiz-page {
  display: flex;
  flex-direction: column;
  gap: 3em;
  display: none;
  place-items: center;
  min-height: calc(90vh - 120px);
}

.info {
  font-size: 22px;
}

.show {
  display: flex;
}
#quiz-name {
  font-size: 25px;
}

.quiz-text {
  font-size: 22px;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 0.8em;
}
.btn-section {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#answer-btn {
  padding: 0.1em 6.5em;
}
